In [3]:
import pandas as pd
df = pd.read_csv('list.csv')
emaillst=df['email'].values.tolist()
df.set_index("email", inplace=True)
df.head()

                                       Title First Name Last Name
email
arjunpanwar282001@gmail.com              Mr.      Arjun    Panwar
arjunpanwar28oct2001@gmail.com           Mr.      Badal    Panwar
arjunpanwar28oct2001@gmail.com           Dr.  Meenakshi   Sridhar
arjunpanwar@earthrootfoundation.org  E-Cell   Rajdhani    College

In [8]:
i=1
for email in emaillst:
   
    a=df["First Name"][email]
    print(i,a)
    i+=1
#name=df.Title[email]+" "+df["First Name"][email]+" "+df["Last Name"][email]

1 Arjun
2 email
arjunpanwar28oct2001@gmail.com        Badal
arjunpanwar28oct2001@gmail.com    Meenakshi
Name: First Name, dtype: object
3 email
arjunpanwar28oct2001@gmail.com        Badal
arjunpanwar28oct2001@gmail.com    Meenakshi
Name: First Name, dtype: object
4 Rajdhani

In [46]:
df[1:]

                                       Title First Name Last Name
email
arjunpanwar28oct2001@gmail.com           Mr.      Badal    Panwar
arjunpanwar28oct2001@gmail.com           Dr.  Meenakshi   Sridhar
arjunpanwar@earthrootfoundation.org  E-Cell   Rajdhani    College